# Виртуальное окружение
venv/
ENV/
env/

# Питон-мусор
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки IDE (PyCharm / VS Code)
.idea/
.vscode/

# Секреты (пароли и адреса)
.env

# База данных (если ты сделал папку в проекте)
mongodb-data/
data/
# Большие файлы моделей (ОСТОРОЖНО)
# Если твоя модель .h5 весит больше 100Мб, GitHub её не примет без Git LFS.